#inputFlightCodeID {
    padding: 5px 5px;
    font-size: 18px;
    border: 2px solid grey;
    float: left; 
    width: 50%;
    background: #f1f1f1;
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   -webkit-text-size-adjust
} 

#center_ {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green; 
  }

.wrapper-flight-select{
    padding: 5px 5px;
    font-size: 18px;
    border: 2px solid grey;
    float: left; 
    width: 50%;
    background: #f1f1f1;
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   -webkit-text-size-adjust;
    z-index:1000 !important;
}
.select2.select2-container {
  width: 100% !important;
}
.wrapper-flight-select .select2-container--default .select2-selection--single{
    background-color: unset;
    border: unset;
    border-radius: unset;
}

